# user_login.sh Config file
# Copy this file to .env.user_login and replace with your actual values

UP_CLIENT_ID=""
USERNAME=""
PWD=""

# If password required. Use returned session id.
SESSION_ID=""
NEW_PASSWORD=""


# Set this to 1 to initiate login / 0 - to update password
LOGIN=1